latex/*.toc
latex/*.aux
latex/*.bbl
latex/*.blg
latex/*.lof
latex/*.log
latex/*.lol
latex/*.lot
latex/*.out
latex/*.gz
code/aws-quickconnect/build
code/aws-quickconnect/.vscode
code/ssl/build
code/ssl/build/.vscode